.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.inner-container{
    background-color: green;
    border-radius: 5px;
}
.container .inner-container input[type="button"]{
    margin: 10px;
}
.container .inner-container p{
    margin: 10px;
}